<% if user_signed_in? %>
	<h3>Hello, <%= current_user.name %>!</h3>
<% else %>
	<h1>Hello world</h1>
<% end %>

<div class="page-container sidebar-collapsed">
  
  <div class="col-sm-12 col-md-9 col-lg-9 right-side">
   
    <div class="row">
      <%= render "static_pages/images.html.erb" %>
    </div>
    
  </div>
</div>

