<div class="page-container sidebar-collapsed">
  
  <div class="col-sm-12 col-md-9 col-lg-9 right-side">
   
    <div class="row">
      <%= render "static_pages/images.html.erb" %>
    </div>
    
  </div>
</div>

